.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  margin-right: 240px;
  padding-left: 240px;
}

.favourite-title {
  font-size: 40px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-bottom: 30px;
  padding-bottom: 10px;
  position: relative;
}

.favourite-title::after {
  content: '';
  background-color: brown;
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 80px;
  height: 3px;
  transform: translateX(-50%);
  border-radius: 2px;
}

@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
    padding-top: 70px;
  }

  .favourite-title {
    font-size: 24px;
  }
}