.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 60px;
  background-color: rgb(209, 205, 205);
  width: 75px;
  z-index: 200;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.sidebar-link {
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.sidebar-link:hover {
  border-radius: 30px;
  background-color: rgb(180, 173, 181);
}

.sidebar-link img {
  height: 24px;
  margin-bottom: 4px;
}

.sidebar-link div {
  font-size: 13px;
  color: black;
  text-align: center;
}

.sidebar-link a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

