body {
  font-family: Nunito, Arial;
  margin: 0;
  padding: 0;
  background-color: rgb(12, 13, 20);
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
  padding-top: 100px;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 20px;
}

footer {
  margin-top: auto;
  width: 100%;
  color: gray;
  text-align: center;
  padding: 5px 0;
  font-size: 12px;
  border-top: 1px solid #7e7e7e95;
  background-color: rgb(12, 13, 20);
  z-index: 10;
  flex-shrink: 0;
}

#root, .app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
